/* Customize fonts */
body, label, input, button, select { 
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
}
h1, h2, h3 { 
    font-weight: 400;
    padding: 0; 
    margin: 0;
}
  
#controls {
    /* Appearance */
    background-color: white;
    padding: 20px 20px 20px 20px;
    cursor: move;
    /* Fade out while not hovering */
    opacity: 0.65;
    zoom: 0.9;
    transition: opacity 500ms 1s;
}
#controls:hover {
    /* Fade in while hovering */
    opacity: 0.95;
    transition-delay: 0;
}
#distance {
    font-size: 32px;
    text-align: center;
    border-style: solid;
    background-color: #69b3a2;
}

#dist_hist {
    padding: 20px 0px 0px 0px;
}

